html,
body,
#root {
  width: 100%;
  height: 100%;
}
.excalidraw-wrapper {
  width: 100%;
  height: 100%;

  .logo img {
    height: 1.8rem;
    position: absolute;
    right: 0.3rem;
    top: 4px;
  }
  .d-none {
    display: none;
  }
  @media screen and (max-width: 385px) {
    .excalidraw {
      .App-top-bar {
        section {
          margin-right: 1.7rem;
        }
      }
    }
  }

}
