html,
body,
#root {
  width: 100%;
  height: 100%;
}
.excalidraw-wrapper {
  width: 100%;
  height: 100%;

  .excalidraw-logo {
    margin-left: 2rem;
    img {
      height: 1.8rem;
      margin-top: 0.3rem;
    }
  }
  .d-none {
    display: none;
  }
  .excalidraw {
    .ToolIcon.ToolIcon__library {
      display: none;
    }
  }

  @media screen and (max-width: 385px) {
    .excalidraw {
      .App-top-bar {
        section {
          margin-right: 1.7rem;
        }
      }
    }
  }

  @media screen and (max-width: 730px),
    screen and (max-width: 1000px) and (max-height: 500px) {
    .excalidraw-logo {
      margin-left: auto;
      img {
        position: absolute;
        right: 0.3rem;
        top: 0.3rem;
      }
    }
  }
}
